.detected-text {
  background-color: red;
  color: white;
  border-radius: 6px;
  width: 68%;
  text-align: center;
  padding: 6px;
  margin: 0;
}

.menu-container {
  background-color: transparent;
}
