.login-form-container {
  background-image: url("/images/among-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  form {
    width: 30%;
  }
}

.error-field {
  border: solid 1px rgba(236, 56, 56, 0.733);
  &:focus {
    border: solid 1px rgba(236, 56, 56, 0.733);
    box-shadow: none;
  }
  &:hover {
    border: solid 1px rgba(236, 56, 56, 0.733) !important;
    box-shadow: none;
  }
}

.error-select {
  div {
    border: solid 1px rgba(236, 56, 56, 0.733) !important;
    box-shadow: none !important;
    &:hover {
      border: solid 1px rgba(236, 56, 56, 0.733) !important;
      box-shadow: none !important;
    }
    &:focus {
      border: solid 1px rgba(236, 56, 56, 0.733) !important;
      box-shadow: none !important;
    }
  }
}

.error-message {
  color: red;
}

.login-form {
  border: solid 1px black;
  background-color: white;
  // background: linear-gradient(to right, rgb(170, 75, 107), rgb(107, 107, 131), rgb(59, 141, 153));
}
